@import "../../Styles/constant";
@import "../../Styles/variables";
.marketPage_container {
  width: 100%;
  padding: 2rem $md-gap;
  display: flex;
  flex-direction: column;
  background: #f6f4fe;
  margin-top: 3%;
  .marketPage_left_titel {
    @include Title;
  }
  div {
    flex: 1;
  }
  .marketPageMainContent {
    display: flex;
    .marketPage_left {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .marketPage_left_sub_titel {
        color: $secondary-color;
        font-size: 30px;
        font-weight: 800;
        margin-top: 6%;
        opacity: 0.8;
        margin-bottom: 1%;
      }
      .marketPage_left_des {
        font-size: 15px;
        span {
          font-weight: 700;
          font-size: 15px;
          opacity: 0.8;
        }
        svg {
          color: $primary-color;
          margin-right: 2%;
        }
      }
    }
    .marketPage_right {
      display: flex;
      flex-direction: column;

      img {
        width: 20rem;
        margin-left: 18%;
      }
      .marketPage_right_sub_titel {
        margin-left: 5%;

        color: $secondary-color;
        font-size: 30px;
        font-weight: 800;
        margin-top: 6%;
        margin-bottom: 2%;
        opacity: 0.8;
      }
      .marketPage_right_des {
        margin-left: 5%;

        span {
          font-weight: 700;
          font-size: 14px;
          color: $primary-color;
        }
        svg {
          color: $primary-color;
          margin-right: 2%;
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
    .marketPage_container {
        padding: 1.5rem 1rem;
        // display: flex;
        // flex-direction: column;
        // background: #f6f4fe;
        margin-top: 0%;
        .marketPage_left_titel {
          @include TitleResponsive;
        }
        div {
          flex: 1;
        }
        .marketPageMainContent {
          flex-direction: column;
          gap: 1.8rem;
          .marketPage_left {
            // display: flex;
            // flex-direction: column;
            // gap: 0.5rem;
      
            .marketPage_left_sub_titel {
            //   color: $secondary-color;
              font-size: 23px;
          
            }
            .marketPage_left_des {
              font-size: 13px;
              span {
                font-size: 13px;
              }
             
            }
          }
          .marketPage_right {
            display: flex;
            flex-direction: column;
      
            img {
              width: 18rem;
              margin-left: 5%;
            }
            .marketPage_right_sub_titel {
              margin-left: 2%;
              margin-bottom: 4%;
      
              font-size: 23px;
              font-weight: 800;
              
            }
            .marketPage_right_des {
              margin-left: 2%;
              font-size: 13px;
      
              span {
                font-size: 13px;
              }
             
            }
          }
        }
      }
}
