@import "../../../Styles/constant";
@import "../../../Styles//variables";

.CT_container{
    width: 23rem;
    
    // background: #F7F7F7;
    // background-color: red;
    
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .CT_header{
        height: 13rem;
        @include flexColStart;
        gap: 13px;
        padding: 22px;
        border-radius: 12px;
        

        background: #F7F7F7;
        .CT_header_text1{
            color: $secondary-color;
                opacity: 0.8;
                font-size: 15px;
                word-spacing: 1px;
                

        }
        .CT_header_text2{
            
            font-size: 18px;
            opacity: 0.8;
            color: #FFB116;
            margin-top: 2%;
           
            
        }
        .CT_header_text3{
            font-size: 16px;
            font-weight: 700;
            color: $secondary-color;
            opacity: 0.8;

            span{
                
                font-weight:400 ;
                font-size: 16px;
                

                
            }


        }

    }
    .CT_bottom{
        display: flex;
        align-items: center;
        gap: 1rem;
        img{
            width: 50px;
            height: 50px;
            border-radius: 50px;
        }
        .CT_bottom_text_container{
            @include flexColStart;
            
            .CT_bottom_text_1{
                color: $secondary-color;
                font-weight: 600;
                letter-spacing: 1px;

            }
            .CT_bottom_text_2{
                color: $secondary-color;
                opacity: 0.8;
                

            }
        }

    }
}

@media screen and (max-width: 769px) {

    .CT_container{
        width: 23rem;
        
        // background: #F7F7F7;
        // background-color: red;
        
        display: flex;
        flex-direction: column;
        gap: 3rem;
        
        .CT_header{
            height: 13rem;
            @include flexColStart;
            gap: 13px;
            padding: 22px;
            border-radius: 12px;
            margin-right: 10px;
            
    
            background: #F7F7F7;
            .CT_header_text1{
                color: $secondary-color;
                    opacity: 0.8;
                    font-size: 15px;
                    word-spacing: 0px;
                    
                    
    
            }
            .CT_header_text2{
                
                font-size: 18px;
                opacity: 0.8;
                color: #FFB116;
                margin-top: 2%;
               
                
            }
            .CT_header_text3{
                font-size: 16px;
                font-weight: 700;
                color: $secondary-color;
                opacity: 0.8;
    
                span{
                    
                    font-weight:400 ;
                    font-size: 16px;
                    
    
                    
                }
    
    
            }
    
        }
        .CT_bottom{
            display: flex;
            align-items: center;
            gap: 1rem;
            img{
                width: 50px;
                height: 50px;
                border-radius: 50px;
            }
            .CT_bottom_text_container{
                @include flexColStart;
                
                .CT_bottom_text_1{
                    color: $secondary-color;
                    font-weight: 600;
                    letter-spacing: 1px;
    
                }
                .CT_bottom_text_2{
                    color: $secondary-color;
                    opacity: 0.8;
                    
    
                }
            }
    
        }
    }

}