@import "../../Styles/constant";
@import "../../Styles/variables";

.video_wrapper {
  width: 100%;
  .video_container {
    width: 100%;
    padding: 0rem $md-gap;
    display: flex;
    padding-bottom: 2rem;
    justify-content: space-between;
    .video_container > div {
      flex: 1;
    }
    //------Left Side Style--------
    .video_left {
      @include flexColCenter;
      gap: 2.5rem;
      padding-right: 2rem;

      .video_title {
        @include Title;
      }
      .video_des{
        @include Description;
        


      }
     
      button {
        @include Button;
      }
      button:hover {
        color: $primary-color;
        border: 1px solid $primary-color;
        background: transparent;
      }
    }

    //------right Side Style--------

    .video_right {
      img {
        width: 45rem;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .video_wrapper {
    .video_container {
      padding: 1rem 10px;
      padding-top: 7rem;
      flex-direction: column;

      //------Left Side Style--------
      .video_left {
        @include flexColCenter;
        gap: 1.5rem;
        padding-right: 0rem;
        padding: 1.5rem 0.5rem;

        .video_title{
          @include TitleResponsive;
        }
        .video_des {
          @include DescriptionResponsive;
        }
        button {
          padding: 0.5rem 0.9rem;
          font-size: 13px;
          
        }
        button:hover {
          padding: 0.5rem 0.9rem;
          font-size: 13px;
        }
      }

      //------right Side Style--------

      .video_right {
        @include flexCenter;
        img {
          width: 22rem;
        }
      }
    }
  }
}
