@import "../../Styles/constant";
@import "../../Styles/variables";

.testimonial_wrapper {
  width: 100%;
  
  .testimonial_container {
    width: 100%;
    padding: 0 $md-gap;
    padding-bottom: 4rem;
    .testimonial_header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 10rem;
      gap: 1rem;
      .testimonial_title {
        @include Title;

       
      }
      .testimonial_des {
        @include Description;
      }
      img {
        width: 150px;
        padding: 15px;
      }
    }
    .testimonial_slider {
      padding-top: 2rem;
      width: 100%;
      // overflow: hidden;
    }
  }
}

@media screen and (max-width: 769px) {
  .testimonial_wrapper {
    width: 100%;
    .testimonial_container {
      width: 100%;
      padding: 0 2px;
      padding-bottom: 4rem;
      padding-top: 0;
      .testimonial_header {
        width: 100%;
        display: flex;
        padding: 0 10px;
        .testimonial_title {
        @include TitleResponsive;

          
        }
        .testimonial_des {
          @include DescriptionResponsive;
        }
        .testimonial_header_img{
            display: flex;
            flex-wrap: wrap;
            img {
                width: 150px;
                padding: 20px;
              }
            }

        }
      
      .testimonial_slider {
        
        padding-top: 2rem;
        width: 100%;
        overflow: hidden;
        padding: 0 12px;
      }
    }
  }
}
