@import "../../Styles/constant";
@import "../../Styles/variables";

.accordion_wrapper {
  width: 100%;
  .accordion_container {
    width: 100%;
    padding: 2rem $md-gap;
    display: flex;

    .accordion_left {
      @include flexColStart;

      .MuiButtonBase-root {
        border: none;
      }
      .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
        box-shadow: none;
        border-bottom: 1px solid gray;
        border-radius: 0;
        width: 100%;
      }
      .accordion_left_text1 {
        @include Title;
        margin-top: 7%;
        margin-bottom: 3%;
      }
      .accordion_left_text2 {
        @include Description;
        margin-bottom: 4%;
      }
    }

    .accordion_right {
      // display: none;
      // @include flexCenter;
      // padding-left: 30rem;

      .accordion_right_imgs {
        // display: none;
        position: relative;
        .accordion_right_img1 {
          position: absolute;
          width: 260px;
          top: 50px;
          right: 100px;
        }
        .accordion_right_img2 {
          position: absolute;
          width: 200px;
          right: 280px;
          top: 50px;
        }
      }
    }
  }

  .accordion_container > div {
    flex: 1;
  }
}
@media screen and (max-width: 769px) {
    .accordion_wrapper {
        width: 100%;
        .accordion_container {
          padding: 1rem;
          flex-direction: column;
      
          .accordion_left {
            padding-left: 5px;
            @include flexColStart;
      
            .MuiButtonBase-root {
              border: none;
            }
            .css-1elwnq4-MuiPaper-root-MuiAccordion-root {
              box-shadow: none;
              border-bottom: 1px solid gray;
              border-radius: 0;
              width: 100%;
            }
            .accordion_left_text1 {
              @include TitleResponsive;
              margin-top: 7%;
              margin-bottom: 3%;
            }
            .accordion_left_text2 {
              @include DescriptionResponsive;
              margin-bottom: 4%;
            }
          }
      
          .accordion_right {
            padding-bottom: 16%;
            // display: none;
            // @include flexCenter;
            // padding-left: 30rem;
      
            .accordion_right_imgs {
                
              // display: none;
            //   position: relative;
              .accordion_right_img1 {
                // position: absolute;
                width: 220px;
                top: 10px;
                right: 20px;
              }
              .accordion_right_img2 {
                // position: absolute;
                width: 170px;
                right: 150px;
                top: 10px;
              }
            }
          }
        }
      
        .accordion_container > div {
          flex: 1;
        }
      }
}
