@import "../../Styles/constant";
@import "../../Styles/variables";

.challenges_container {
  width: 100%;
  display: flex;
  padding: 0rem $md-gap;

  //   div {
  //     flex: 1;
  //   }
  gap: 1rem;

  .challenges_left {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
    .challenges_left_title_text {
      @include Title;
    }
    .challenges_left_content-1 {
      display: flex;
      gap: 2.5rem;
      padding: 1rem 0.5rem;
      margin-top: 5rem;
      border-radius: 8px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      .challenges_left_content_left {
        display: flex;
        align-items: center;
        justify-content: end;

        img {
          width: 16rem;
        }
      }
      .challenges_left_content_right {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .challenges_left_content_right_title {
          color: $primary-color;
          font-weight: 700;
        }
        .challenges_left_content_right_des {
          color: $secondary-color;
        }
      }
    }
  }
  .challenges_right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .challenges_right_content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 1rem 0rem;
      padding-right: 0.5rem;
      border-radius: 8px;
      gap: 2rem;

      .challenges_right_content_left {
        display: flex;
        align-items: center;
        // justify-content: end;
        // justify-content: center;
        justify-content: space-evenly;
        padding-left: 0.5rem;
        img {
          width: 100px;
        }
        .challenges_custom_logo {
          width: 125px;
        }
      }
      .challenges_right_content_right {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .challenges_right_content_right_title {
          color: $primary-color;
          font-weight: 700;
        }
        .challenges_right_content_right_des {
          color: $secondary-color;
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .challenges_container {
    flex-direction: column;
    padding: 0rem 1rem;

    
    gap: 0rem;

    .challenges_left {
      
      padding-top: 2rem;
      .challenges_left_title_text {
        @include TitleResponsive;
        font-size: 29px;
      }
      .challenges_left_content-1 {
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0.5rem;
        margin-top: 1rem;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;        .challenges_left_content_left {
        
          justify-content: center;

          img {
            width: 18rem;
          }
        }
        .challenges_left_content_right {
         
          padding: 0.5rem;
          .challenges_left_content_right_title {
            color: $primary-color;
            font-weight: 700;
          }
          .challenges_left_content_right_des {
            color: $secondary-color;
          }
        }
      }
    }
    .challenges_right {
    //   display: flex;
    //   flex-direction: column;
    //   gap: 1rem;
      .challenges_right_content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 0rem 0rem;
        padding-right: 0rem;
        padding: 1rem 0.5rem;

        border-radius: 8px;
        gap: 1rem;

        .challenges_right_content_left {
          display: flex;
          align-items: center;
          // justify-content: end;
          // justify-content: center;
          justify-content: space-evenly;
          padding-left: 0.5rem;
          img {
            width: 75px;
          }
          .challenges_custom_logo {
            width: 100px;
          }
        }
        .challenges_right_content_right {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .challenges_right_content_right_title {
            color: $primary-color;
            font-weight: 700;
            font-size: 16px;
          }
          .challenges_right_content_right_des {
            color: $secondary-color;
            font-size: 15px;
          }
        }
      }
    }
  }
}
